.game-container{
    width: 100%;
    height: 100vh;

    background-color: aquamarine;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.game-container__mole-board{
    width: 350px;
    height: 350px;

    position: relative;
}

.game-container__game-stat{
    width: 350px;
    height: 70px;

    background-color: darkcyan;
}

@media(min-width: 700px){
    .game-container__mole-board{
        width: 450px;
        height: 450px;
    }
    
    .game-container__game-stat{
        width: 500px;
        height: 70px;
    
        background-color: darkcyan;
    }   
}