$move-to-left-time: 3s;
$move-to-right-time: 3s;

.game-message{
    width: 100%;
    height: 100%;

    display: none;
    overflow: hidden;

    font-size: 1.8em;
    font-family: 'SuperMario256';
    text-shadow: 1px 1px 0 rgba(0,0,0,.6);
    color: #E3F2FD;
    
    position: absolute;
    top: 0;
    left: 0;
}

.game-message__item{
    width: 100%;
    height: 50%;

    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    // background-color: coral;
}

.game-message__item--right{
    top: 0;
    left: 100%;
}

.game-message__item--left{
    bottom: 0;
    right: 100%;
}

.game-message__item--moveToLeft{
    animation: moveToLeft $move-to-left-time forwards;
}

.game-message__item--moveToRight{
    animation: moveToRight $move-to-right-time forwards;
}

@keyframes moveToLeft{
    0%{
        left: 100%;
    }

    45%{
        left: 0;
    }

    55%{
        left: 0;
    }

    100%{
        left: -100%;
    }
}

@keyframes moveToRight{
    0%{
        right: 100%;
    }

    45%{
        right: 0;
    }

    55%{
        right: 0;
    }

    100%{
        right: -100%;
    }
}