$go-out-time: .4s;

.mole{
    width: 24%;
    height: 24%;

    overflow: hidden;
    position: relative;
}

%mole_hole{
    width: 100%;
    height: 40px;
    
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    position: absolute;
    bottom: 0;
}

.mole__hole-front-face{
    background-image: url('../../static/digglett_hole_front.png');
    @extend %mole_hole;
}

.mole__hole-back-face{
    background-image: url('../../static/digglett_hole_back.png');
    @extend %mole_hole;
}

.mole__image{
    width: 100%;
    height: 100%;

    transition: top $go-out-time;

    background-position: center 10px;
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    top: 100%;
}

.mole__image--active-red{
    background-image: url('../../static/digglett_red.png');
    top: 0;
}

.mole__image--active-blue{
    background-image: url('../../static/digglett_blue.png');
    top: 0;
}

.mole__image--active-gold{
    background-image: url('../../static/digglett_gold.png');
    top: 0;
}

.mole__image--hit-red{
    background-image: url('../../static/digglett_red_hit.png');
}

.mole__image--hit-blue{
    background-image: url('../../static/digglett_blue_hit.png');
}

.mole__image--hit-gold{
    background-image: url('../../static/digglett_gold_hit.png');
}

.mole__image--inactive{
    top: 100%;
}