.mole{
    width: 33.33%;
    height: 33.33%;

    background-color: burlywood;
}

// .mole:nth-child(even){
//     background-color: cadetblue;
// }

div.mole--active{
    background-color: whitesmoke;
}