.mole{
    // width: 33.33%;
    // height: 33.33%;

    width: 25%;
    height: 25%;

    background-color: burlywood;
}

.mole--active-blue{
    background-color: cornflowerblue;
}

.mole--active-red{
    background-color: crimson;
}

.mole--active-gold{
    background-color: gold;
}